.pendingOrders{
    min-height: 680px;
}

.orders__div{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px;
    border: 1px solid lightgray;
}

.orders__div > h2{
    margin-left: 200px;
}

