.header{
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #14a4e6;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: -15px;
}

.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: yellow;
    cursor: pointer;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__optionLineOne{
    font-size: 17px;
}

.header__optionLineTwo{
    font-size: 23px;
    font-weight: 800;
}
 


.header__option{
    color: yellow;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionCart{
    display: flex;
    align-items: center;
    color: yellow;

}

.header__cartCount {
    margin-right: 10px;
    margin-left: 10px;
}

