.footer{
    background-color: #034f84;
    height: 100px;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer__links {
    font-size: 18pt;
    color: #cc4545;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;

}

